
/*==============================================================
	Header Start
==============================================================*/
.header{
	position: fixed;
	height: 70px;
	width: calc(100% - 280px);
	background: #ffffff;
	right: 0;
	top: 0;
	z-index: 123;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, .1);
}
.header-left{
	display: flex;
	align-items: center;
	height: 100%;
	width: 50%;
}

.header-right{
	display: flex;
	align-items: flex-end;
	height: 100%;
	width: 50%;

}


/*==============================================================
	Footer Start
==============================================================*/
.footer-wrap{
	width: 100%;
	position: relative;
	/*height: 44px;*/
	text-align: center;
	font-weight: 500;
}
.footer-wrap a{
	color: #1b00ff;
	text-decoration: underline;
}
/*==============================================================
	Footer End
==============================================================*/

/*==============================================================
	Side Bar Start
==============================================================*/
.menu-icon,
.search-toggle-icon{
	width: 47px;
	height: 47px;
	font-size: 28px;
	line-height: 1;
	color: #555555;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.search-toggle-icon{
	font-size: 20px;
}
.brand-logo{
	width: 280px;
	height: 70px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.brand-logo a{
	display: flex;
	vertical-align: middle;
	align-items: center;
	position: relative;
	height: 100%;
	font-size: 22px;
	color: #ffffff;
	letter-spacing: 0.050em;
	font-weight: 500;
	line-height: 45px;
	font-family: 'Inter', sans-serif;
	padding: 0px 20px 0px;
}
.brand-logo a .dark-logo,
.sidebar-light .brand-logo a .light-logo{
	display: none;
}
.brand-logo a .light-logo,
.sidebar-light .brand-logo a .dark-logo
{
	display: block;
}
.brand-logo a span{
	display: block;
	margin-left: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.brand-logo a img,
.brand-logo a .svg{
	max-width: 180px;
	display: block;
	height: auto;
}
.left-side-bar{
	position: fixed;
	left: 0;
	top: 0;
	width: 280px;
	height: 100%;
	z-index: 1000;
	background: #142127;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.left-side-bar .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: #ecf0f4;
}
.left-side-bar:before{
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.left-side-bar.open{
	left: 0;
}
.left-side-bar .menu-block{
	height: calc(100vh - 70px);
	padding: 6px 0;
}
.left-side-bar .close-sidebar{
	font-size: 18px;
	color: #888888;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 20px;
	display: none;
}
.sidebar-menu{
	padding: 0px 0px 20px;
}
.sidebar-menu > ul > li{
	padding: 2px 12px;
}
.sidebar-menu .unfold-toggle{
	display: block;
	padding: 14px 15px 14px 67px;
	font-size: 15px;
	color: #ffffff;
	font-weight: 500;
	position: relative;
	border-radius: 8px;
	font-family: 'Inter', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu .unfold-toggle:after{
	content: "\F282";
	position: absolute;
	right: 15px;
	font-size: 16px;
	font-weight: 700;
	top: 50%;
	transform: translate(0, -50%);
	display: block;
	font-family: bootstrap-icons;
}
.sidebar-menu .unfold.show>.unfold-toggle::after{
	content: "\F286";
}
.sidebar-menu .unfold-toggle.no-arrow:after{
	display: none;
}
.sidebar-menu.icon-style-2 .unfold-toggle:after{
	content: "\F4FE";
	font-size: 22px;
	font-weight: 700;
	font-family: bootstrap-icons;
}
.sidebar-menu.icon-style-2 .unfold.show .unfold-toggle:after{
	content: "\F2EA";
}

.sidebar-menu.icon-style-3 .unfold-toggle:after{
	content: "\F280";
	font-weight: 400;
}
.sidebar-menu.icon-style-3 .unfold.show .unfold-toggle:after{
	content: "\F281"
}

.sidebar-menu .unfold-toggle:hover, .sidebar-menu .show > .unfold-toggle{
	background: rgba(236, 240, 244, .19);
	color: #ffffff;
}
.sidebar-menu .show > .unfold-toggle{
	border-radius: 8px 8px 0 0;
}
.sidebar-menu .unfold-toggle .micon{
	position: absolute;
	left: 10px;
	width: 42px;
	height: 42px;
	font-size: 22px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background-color: rgba(255,255,255,0);
	top: 50%;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: translate(0px, -50%);
	-moz-transform: translate(0px, -50%);
	-o-transform: translate(0px, -50%);
	-ms-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
}
.sidebar-menu .unfold-toggle:hover .micon, .sidebar-menu .show > .unfold-toggle .micon{
	color: #ffffff;
}
.sidebar-menu .unfold-toggle .new{
	font-size: 24px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
}
.sidebar-menu .unfold-toggle .new:before{
	line-height: 14px;
}
.sidebar-menu .submenu{
	position: relative;
	width: 100%;
	display: none;
	background: rgba(236,240,244,.1);
	padding: 4px 6px;
	border-radius: 0 0 8px 8px;
}
.sidebar-menu .submenu:before{
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	left: 31px;
	top: 0;
	display: none;
	background: none;
	border-left: 2px dashed #1b00ff;
}
.sidebar-menu .submenu li{
	position: relative;
	padding: 2px 0;
}
.sidebar-menu .submenu li > a:before{
	content: "\f208";
	position: absolute;
	line-height: 1;
	left: 28px;
	top: 50%;
	-webkit-transform: translate(0px, -50%);
	-moz-transform: translate(0px, -50%);
	-o-transform: translate(0px, -50%);
	-ms-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
	font-family: Ionicons;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu.icon-list-style-2 .submenu li > a:before{
	content: "\f10c";
	font-family: FontAwesome;
}
.sidebar-menu.icon-list-style-3 .submenu li > a:before{
	content: "\eb1d";
	font-family: dropways;
}
.sidebar-menu.icon-list-style-4 .submenu li > a:before{
	content: "\edd2";
	font-family: dropways;
}
.sidebar-menu.icon-list-style-5 .submenu li > a:before{
	content: "\ee07";
	font-family: dropways;
}
.sidebar-menu.icon-list-style-6 .submenu li > a:before{
	content: "\ee36";
	font-family: dropways;
}

.sidebar-menu .submenu li.unfold:before{
	display: none;
}
.sidebar-menu .submenu li a{
	display: block;
	padding: 14px 15px 14px 60px;
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	border-radius: 8px;
	position: relative;
	font-family: 'Inter', sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-menu .submenu li.unfold > a:before{
	display: none;
}
.sidebar-menu .submenu li a.unfold-toggle{
	padding: 14px 15px 14px 60px;
	font-size: 15px;
}
.sidebar-menu .submenu.child{
	padding-left: 15px;
}
.sidebar-menu .submenu li:hover > a:before{
	left: 18px;
}
.sidebar-menu .submenu li a:hover, .sidebar-menu .submenu li a.active{
	color: #ffffff;
	background-color: rgba(0, 0, 0, .4);
}
.sidebar-menu > ul > li > .unfold-toggle.active{
	background-color: rgba(236, 240, 244, .19);
}
.sidebar-light .sidebar-menu > ul > li > .unfold-toggle.active{
	background-color: #142127;
	color: #ffffff;
}
.sidebar-light .sidebar-menu > ul > li > .unfold-toggle.active .micon{
	color: #ffffff;
}
.sidebar-menu .unfold-toggle.active, .sidebar-menu .unfold-toggle.active .micon{
	color: #ffffff;
}

.mobile-menu-overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #121421;
	opacity: 0.6;
	z-index: 123;
	background-size: 20px;
	background-position: 98% 15px;
	display: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.sidebar-light .left-side-bar{
	background: #ffffff;
}
.sidebar-light .sidebar-menu .unfold-toggle{
	color: #0b132b;
	font-weight: 500;
}
.sidebar-light .sidebar-menu .unfold-toggle .micon{
	color: #0b132b;
}
.sidebar-light .sidebar-menu .submenu li a{
	color: #0b132b;
	font-weight: 400;
}
.sidebar-light .sidebar-menu .submenu{
	background: #e6ebf0;
}
.sidebar-light .sidebar-menu .submenu li a:hover,
.sidebar-light .sidebar-menu .submenu li a.active{
	color: #ffffff;
	background-color: #142127;
}
.sidebar-light .sidebar-menu .unfold-toggle:hover,
.sidebar-light .sidebar-menu .show>.unfold-toggle{
	color: #ffffff;
	background-color: #142127;
}
.sidebar-light .sidebar-menu .unfold-toggle:hover .micon,
.sidebar-light .sidebar-menu .show>.unfold-toggle .micon{
	color: #ffffff;
}
.sidebar-light .menu-block .mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail{
	background-color: #0e132b;
}

.sidebar-menu .unfold-divider{
	margin: 20px 0;
	border-color: rgba(255,255,255,.2);
	border-width: 2px;
}
.sidebar-light .sidebar-menu .unfold-divider{
	border-color: rgba(0,0,0,0.2);
}

.sidebar-menu .sidebar-small-cap{
	font-size: 14px;
	letter-spacing: 0.050em;
	text-transform: uppercase;
	font-weight: 600;
	color: #ffffff;
	padding: 0 15px 10px;
}
.sidebar-light .sidebar-menu .sidebar-small-cap{
	color: #1502bd;
}

/*==============================================================
	Side Bar End
==============================================================*/
