.header {
    position: fixed;
    height: 70px;
    width: calc(100% - 280px);
    background-color: #5b7378;
    right: 0;
    top: 0;
    z-index: 123;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    padding-right: 10px;
}

.header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

.menu-icon {
    width: 47px;
    height: 47px;
    font-size: 28px;
    line-height: 1;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.brand-logo {
    width: 280px;
    height: 70px;
    background-color: #5b7378;
}

.brand-logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: 500;
    line-height: 45px;
    font-family: "Inter", sans-serif;
    padding: 0 20px;
    justify-content: center;
}

.brand-logo a:hover {
    color: #fff;
}

.brand-logo a img {
    border-radius: 50%;
}

.brand-logo a span {
    padding: 0px 10px;
}

.brand-logo a .light-logo,
.sidebar-light .brand-logo a .dark-logo {
    display: block;
}

.brand-logo a span {
    display: block;
    margin-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.brand-logo a .svg,
.brand-logo a img {
    max-width: 180px;
    display: block;
    height: auto;
}

.left-side-bar,
.left-side-bar:before {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.left-side-bar {
    width: 280px;
    z-index: 1000;
    background-color: #435558;
}

.left-side-bar .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #ecf0f4;
}

.left-side-bar:before {
    content: "";
    z-index: -1;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.left-side-bar.open {
    left: 0;
}

.left-side-bar .menu-block {
    height: calc(100vh - 70px);
    padding: 6px 0;
    overflow-y: auto;
}

.left-side-bar .close-sidebar {
    font-size: 18px;
    color: #888;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
}

.sidebar-menu {
    padding: 0 0 20px;
}

.sidebar-menu > ul > li {
    padding: 2px 12px;
}

.sidebar-menu .unfold-toggle {
    display: block;
    padding: 14px 15px 14px 67px;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    position: relative;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar-menu .unfold-toggle:after {
    content: "\F0140";
    position: absolute;
    right: 15px;
    font-size: 25px;
    font-weight: 700;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
    font-family: "Material Design Icons";
}

.sidebar-menu .unfold.show > .unfold-toggle::after {
    content: "\F0143";
}

.sidebar-menu .unfold-toggle.no-arrow:after,
.sidebar-menu .submenu li.unfold:before {
    display: none;
}

.sidebar-menu .unfold-toggle:hover,
.sidebar-menu .show > .unfold-toggle {
    background: rgba(255, 255, 255, 0.19);
    color: #fff;
}

.sidebar-menu .show > .unfold-toggle {
    border-radius: 8px 8px 0 0;
}

.sidebar-menu .unfold-toggle .as-icon {
    position: absolute;
    left: 10px;
    width: 42px;
    height: 42px;
    font-size: 20px;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: transparent;
    top: 50%;
    text-align: center;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.sidebar-light .sidebar-menu > ul > li > .unfold-toggle.active .as-icon,
.sidebar-menu .unfold-toggle:hover .as-icon,
.sidebar-menu .show > .unfold-toggle .as-icon {
    color: #fff;
}

.sidebar-menu .unfold-toggle .new {
    font-size: 24px;
    line-height: 14px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar-menu .unfold-toggle .new:before {
    line-height: 14px;
}

.sidebar-menu .submenu {
    position: relative;
    width: 100%;
    display: none;
    background: rgba(236, 240, 244, 0.1);
    padding: 5px;
    border-radius: 0 0 8px 8px;
}

.sidebar-menu .submenu:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    left: 31px;
    top: 0;
    display: none;
    background: 0 0;
}

.sidebar-menu .submenu li {
    position: relative;
    padding: 2px 0;
}

.sidebar-menu .submenu li a {
    display: block;
}

.sidebar-menu .submenu li a i {
    font-size: 20px;
    margin-right: 10px;
}

.mobile-menu-overlay,
.sidebar-menu .submenu li a,
.sidebar-menu .submenu li > a:before {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sidebar-menu .submenu li a {
    display: block;
    padding: 14px 15px 14px 60px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    border-radius: 8px;
    position: relative;
    font-family: "Inter", sans-serif;
}

.chat-box .chat-desc ul li.upload-file.admin_chat .upload-file-box .left .overlay,
.chat-box .chat-desc ul li.upload-file.admin_chat .upload-file-box .right a,
.sidebar-menu .submenu li.unfold > a:before,
.sitemap ul li.child:after,
.sitemap ul li.child:before {
    display: none;
}

.sidebar-menu .submenu li a.unfold-toggle {
    padding: 14px 15px 14px 60px;
    font-size: 15px;
}

.sidebar-menu .submenu.child {
    padding-left: 15px;
}

.sidebar-menu .submenu li:hover > a:before {
    left: 18px;
}

.sidebar-menu .submenu li a.active,
.sidebar-menu .submenu li a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.sidebar-menu > ul > li > .unfold-toggle.active {
    background-color: rgba(236, 240, 244, 0.19);
}

.sidebar-light .sidebar-menu > ul > li > .unfold-toggle.active {
    background-color: #142127;
    color: #fff;
}

.sidebar-light .sidebar-menu .unfold-toggle:hover .as-icon,
.sidebar-light .sidebar-menu .show > .unfold-toggle .as-icon,
.sidebar-menu .unfold-toggle.active,
.sidebar-menu .unfold-toggle.active .as-icon {
    color: #fff;
}

.mobile-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #121421;
    opacity: 0.6;
    z-index: 123;
    background-size: 20px;
    background-position: 98% 15px;
    display: none;
}

.sidebar-light .left-side-bar {
    background: #fff;
}

.sidebar-light .sidebar-menu .unfold-toggle {
    color: #0b132b;
    font-weight: 500;
}

.sidebar-light .sidebar-menu .unfold-toggle .as-icon {
    color: #0b132b;
}

.sidebar-light .sidebar-menu .submenu li a {
    color: #0b132b;
    font-weight: 400;
}

.sidebar-light .sidebar-menu .submenu {
    background: #e6ebf0;
}

.sidebar-menu .unfold-divider {
    margin: 20px 0;
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 2px;
}

.sidebar-light .sidebar-menu .unfold-divider {
    border-color: rgba(0, 0, 0, 0.2);
}

.sidebar-menu .sidebar-small-cap {
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 0 15px 10px;
}

.as-container-page,
.register-page-wrap .wizard-content .wizard > .steps .info,
.register-page-wrap .wizard-content .wizard > .steps > ul > li a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.as-container-page {
    padding-left: 300px;
    width: 100%;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 90vh;
    position: absolute;
}

/* @media (min-width: 1301px) and (max-width: 1400px) {
    .as-container-page {
        padding-left: 300px;
    }
} */

@media (min-width: 1200px) and (max-width: 1400px) {
    .device-usage-chart .width-50-p {
        width: 100%;
    }
}

@media (min-width: 1301px) {
    .sidebar-shrink .left-side-bar,
    .sidebar-shrink .left-side-bar.open {
        left: -281px;
    }

    .sidebar-shrink .header {
        width: 100%;
    }

    .sidebar-shrink .as-container-page {
        padding-left: 20px;
    }
}

@media (max-width: 1300px) {
    .as-container-page {
        padding-left: 5px;
        padding-right: 5px;
    }

    .header-left .menu-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header {
        width: 100%;
    }

    .left-side-bar {
        left: -281px;
    }

    .left-side-bar .close-sidebar {
        display: block;
    }

    .left-side-bar:before {
        display: block;
        opacity: 0;
        visibility: hidden;
    }

    .left-side-bar.open:before {
        opacity: 1;
        visibility: visible;
        display: none;
    }

    .left-side-bar .brand-logo a {
        text-align: left;
        padding: 5px 15px;
    }

    .left-side-bar .brand-logo a .svg,
    .left-side-bar .brand-logo a img {
        margin: 0;
    }

    .header-right .brand-logo {
        display: table;
    }

    .header-right .menu-icon {
        display: block;
        padding-left: 15px;
        padding-top: 7px;
    }

    .footer-wrap {
        width: 100%;
    }

    .mobile-menu-overlay {
        display: block;
        opacity: 0;
        visibility: hidden;
    }

    .mobile-menu-overlay.show {
        opacity: 0.6;
        visibility: visible;
    }
}

@media (min-width: 1025px) {
    .header-left .header-search {
        display: block !important;
    }
}

@media (max-width: 1024px) {
    .header {
        position: relative;
    }

    .header-left {
        width: 25%;
    }

    .header-right {
        width: 75%;
    }

    .as-container-page {
        padding-top: 10px;
    }

    .header-left .search-toggle-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header-left .header-search {
        padding: 15px 20px;
        position: absolute;
        left: 0;
        top: 100%;
        background: #fff;
        display: none;
    }

    .register-page-wrap .wizard-content .wizard {
        padding-left: 300px;
    }

    .register-page-wrap .wizard-content .wizard .steps {
        width: 300px;
    }
}

@media (max-width: 991px) {
    .device-usage-chart .width-50-p {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .header {
        position: fixed;
        left: 0;
        top: 0;
        -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    }

    .as-container-page {
        padding-top: 80px;
    }
}

/* mis-estilos */
.user-image-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-image-sidebar .user_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.user-image-sidebar .user_name {
    color: #fff;
    text-align: center;
    padding: 0px 30px;
}

.unfold-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

*::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    background-color: #999999 !important;
}

*::-webkit-slider-thumb {
    background-color: #666666 !important;
}

*::-webkit-scrollbar-track {
    background-color: #dddddd !important;
}

.as-custom-swal-html-container {
    margin: 0px !important  ;
    text-align: left !important;
    padding: 5px !important;
}

.as-swal-popup {
    border-radius: 10px !important;
    width: 600px;
}

.as-swal-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5rem;
}



.as-form {
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #00000055;
}
.as-font-9 {
    font-size: 0.9rem !important;
}

@media screen and (max-width: 700px) {
    .as-form {
        height: 60vh;
    }
}

.as-table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
}

.as-main-title {
    padding: 20px;
    letter-spacing: 5px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    top: -40px;
    -webkit-box-shadow: 0px 17px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 17px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 17px 25px 0px rgba(0, 0, 0, 0.75);
}

.as-background-orange{
    background-color: rgb(255, 128, 0);
}



.as-hover__box-shadow {
    transition: 0.5s box-shadow;
}

.as-hover__box-shadow:hover {
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75) !important;
}


